@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-slab: "Roboto Slab", serif;
  --font-inter: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  @apply bg-ink text-paper font-body;
}
